@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 1.125rem;
  @apply bg-white text-very-dark-violet
}

a {
  @apply text-dark-violet;
}
a:hover {
  color: #535bf2;
}

body {
  @apply bg-white;

  min-height: 100vh;
}

nav{
  margin: 2.5vh 0;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.5;
  font-weight: 700;
  @apply text-very-dark-violet;
}

button {
  @apply bg-cyan text-white rounded-3xl px-5 py-2;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  @apply bg-cyan;
}
button:focus,
button:focus-visible {
  outline: none;
  background-color: hsla(180, 63%, 48%, 0.645);
}


